[project]
	description = Sample Hello World Repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mammen Verghese (MammenVerghese)
[access "refs/for/refs/*"]
	read = group user/Mammen Verghese (MammenVerghese)
	push = group user/Mammen Verghese (MammenVerghese)
	label-Code-Review = -2..+2 group user/Mammen Verghese (MammenVerghese)
	label-Verified = -1..+1 group user/Mammen Verghese (MammenVerghese)
	rebase = group user/Mammen Verghese (MammenVerghese)
	removeReviewer = group user/Mammen Verghese (MammenVerghese)
	submit = group user/Mammen Verghese (MammenVerghese)
[access "refs/heads/*"]
	read = group user/Mammen Verghese (MammenVerghese)
	create = group user/Mammen Verghese (MammenVerghese)
	push = +force group user/Mammen Verghese (MammenVerghese)
	pushMerge = group user/Mammen Verghese (MammenVerghese)
[access "refs/tags/*"]
	push = group user/Mammen Verghese (MammenVerghese)
	push = +force group user/Mammen Verghese (MammenVerghese)
